@font-face {
    font-family: 'Plus';
    src: url(../fonts/PlusJakartaDisplay-Regular.otf);
}

@font-face {
    font-family: 'Barista';
    src: url(../fonts/Barista.otf);
}

html {font-size: 10px;}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Plus';
    box-sizing: border-box;
    transition: all 0.2s;
    scroll-behavior: smooth;
}

/*Variables*/
$green: #E7FF00;
$pink: #FF00FF; 
$small: 1.7rem;
$medium: 2.4rem;
$large: 3rem;
$xlarge: 5rem;
$xxlarge: 10rem;

body {
    background-color: black;

    #loader {
        background-color: black;
        width: 100%;
        height: 100%;
        border: 12px solid $green;
        border-radius: 50%;
        border-top: 12px solid grey;
        width: 70px;
        height: 70px;
        animation: spin 1s linear infinite;
    }
      
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
      
    .center {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
//------------------------------------------------HEADER------------------------------------------------
    header {
        height: 8rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;

        #logoPsychoPub {
            margin-left: 10%;
            
            img {
                height: 6rem;
            }
        }
        
        .menu {
            margin-right: 10%;

            li {
                display: inline-flex;

                a {
                    font-size: $small;
                    color: $green;
                    text-decoration: none;
                    margin: 0 1rem;
                }

                a:hover {
                    color: $pink;
                }
            }

            #social {
                display: flex;
                justify-content: center;
                align-items: center;
    
                a{
                    margin: 0 1.5rem;
                }
    
                #instagramHeader{
                    background: url(../logos/Instagram.svg) no-repeat;
                    width: $small;
                    height: $small;

                    #instagramHover {
                        opacity: 0;
                        background: url(../logos/InstagramHover.svg) no-repeat;
                        width: $small;
                        height: $small;
                    }
                }

                #instagramHeader:hover {
                    #instagramHover {
                        opacity: 1;
                    }
                }
                
                #twitterHeader{
                    background: url(../logos/Twitter.svg) no-repeat;
                    width: 1.9rem;
                    height: $small;

                    #twitterHover {
                        opacity: 0;
                        background: url(../logos/TwitterHover.svg) no-repeat;
                        width: 1.9rem;
                        height: $small;
                    }
                }

                #twitterHeader:hover {
                    #twitterHover {
                        opacity: 1;
                    }
                }
            }
        }
        
        .hamburger {
            display: none;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            margin-right: 10%;

            i {
                background-color: $green;
            }

            .closeIcon {
                display: none;
            }
        }
    }

//------------------------------------------------INTRO------------------------------------------------
    #intro {
        background-image: url(../images/Intro.png);
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10%;

        #welcome {
            width: 60rem;
            margin-bottom: 4rem;
        }

        #typeText {
            display: flex;
            align-items: center;
            color: $green;
            font-size: $large;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 0 1rem;

            #container {
                text-align: center;
                color: $pink;
                margin: 0 0.5rem;

                #text {
                    display: inline-block;
                    vertical-align: top;
                    font-family: "Plus";
                    color: $pink;
                }
            }
        }
    }

//------------------------------------------------ABOUT------------------------------------------------
    #about {
        padding: 10rem 3% 0 3%;

        .border {
            border: 0.2rem solid grey;
            padding: 3%;
            opacity: 0;
            transform: translateY(14rem);
            transition: 0.5s all ease-in-out;

            #titleAbout {
                font-family: "Plus";
                color: grey;
                font-size: $medium;
                text-align: center;
                margin-bottom: 4rem;
            }
            
            .structureAbout {
                display: grid;
                grid-template-columns: 50% 50%;
                column-gap: 5%;
                justify-content: center;
                margin-bottom: 6rem;

                .videos {
                    video {
                        float: right;
                        width: 80%;
                    }
                }

                .textAbout {
                    color: white;
                    font-size: $small;
                    
                    h3 {
                        color: $green;
                        font-size: $xxlarge;
                        margin-bottom: 3rem;
                    }

                    p{
                        text-align: justify;
                        width: 80%;

                        a {
                            color: $green;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .borderOn {
            opacity: 1;
            transform: translateY(0rem);
        }
    }

//------------------------------------------------MENU------------------------------------------------
    #menu {
        padding-top: 10rem;
    
        #titleMenu {
        overflow: hidden;
    
            h2 {
                animation: MoveSides 30s linear infinite;
                color: grey;
                font-size: $medium;
                text-align: center;
                margin-bottom: 4rem;
            }
        }
    
        h3 {
            text-align: center;
            font-family: "Barista";
            font-size: $xxlarge;
            font-weight: normal;
            color: #E7FF00;
        }
    
        #subtitleMenu{
            text-align: center;
            color: white;
            font-size: $small;
            margin-bottom: 6rem;
        }
    
        .menuSeries {
            opacity: 0;
            transform: translatex(-14rem);
            transition: 0.5s all ease-in-out;
    
            .serie {
                margin:0 10% 8rem 10%;
        
                .titlePrice {
                    display: flex;
                    flex-direction: row;
                    color: #E7FF00;
                    font-size: $xlarge;
                    justify-content: space-between;
                    margin-bottom: 3rem;
        
                    h4 {
                        font-weight: normal;
                    }
                }
        
                .container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
        
                    .box {
                        display: flex;
                        flex-direction: column;
                        position: relative;
        
                        img {
                            width: 22rem;
                            height: 22rem;
                            margin-bottom: 1rem;
                        }
        
                        a {
                            position: absolute;
                            width: 18rem;
                            height: 6rem;
                            top: 8rem;
                            left: 2rem;
                            text-decoration: none;
                            border: 2px solid $green;   
                            border-radius: 10rem; 
                            text-align: center;
                            opacity: 0;
        
                            p{
                                font-size: $small;
                                color: $green;
                                height: 6rem;
                                line-height: 5.5rem;
                            }
                        }
        
                        p{
                            color: white;
                            font-size: $medium;
                        }
                    }
        
                    .box:hover {
                        img {
                            opacity: 0.3;
                            transform: scale(1.05);
                        }
        
                        a {
                            opacity: 1;
                        }
                    }
                }   
            }
        }
    
        .menuSeriesOn {
            opacity: 1;
            transform: translatex(0rem);
        }
    }

//------------------------------------------------CREATOR------------------------------------------------
    #creator {
        padding: 10rem 3% 0 3%;
        background-color: black ;
        background-position: center;
        background-size: 100% 100%;

        .borderCreator {
            border: 0.2rem solid grey;
            padding: 3%;
            opacity: 0;
            transform: translateY(14rem);
            transition: 0.5s all ease-in-out;

            #titleCreator {
                font-family: "Plus";
                color: grey;
                font-size: $medium;
                text-align: center;
                margin-bottom: 4rem;
            }
            
            .structureCreator {
                display: grid;
                grid-template-columns: 50% 50%;
                column-gap: 5%;
                justify-content: center;
                align-items: center;
                margin-bottom: 6rem;

                .videos {
                    img {
                        float: left;
                        width: 80%;
                        border-radius: 100%;
                    }
                }

                .textCreator {
                    color: white;
                    font-size: $small;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;               
                    
                    h3 {
                        color: $green;
                        font-size: $xxlarge;
                        margin-bottom: 3rem;

                    }

                    p{
                        text-align: justify;
                        width: 80%;
                        margin-bottom: 4rem;
                    }
                }

                #socialGon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    a{
                        margin: 0 1.5rem;
                    }
        
                    #instagramGon{
                        background: url(../logos/InstagramGon.svg) no-repeat;
                        width: $small;
                        height: $small;
                    }

                    #behanceGon{
                        background: url(../logos/BehanceGon.svg) no-repeat;
                        width: $small + 0.9rem;
                        height: $small;
                    }

                    #linkedInGon{
                        background: url(../logos/LinkedInGon.svg) no-repeat;
                        width: $small;
                        height: $small;
                    }
                }
            }
        }

        .borderCreatorOn {
            opacity: 1;
            transform: translateY(0rem);
        }
    }

//------------------------------------------------CONTACT------------------------------------------------
    #contact {
        background-color: #480072;
        text-align: center;
        color: white;
        padding-top: 10rem;
        margin-top: 5rem;
        height: 90vh;

        #titleContact {
                color: grey;
                font-size: $medium;
                margin-bottom: 7rem;
        }

        h3 {
            font-family: "Barista";
            font-size: $xxlarge;
            font-weight: normal;
            color: $green;
            margin-bottom: 2rem;
        }

        p {
            font-size: $small;
            margin-bottom: 6rem;
            width: 40%;
            margin: auto;
            margin-bottom: 4rem;
        }

        #socialEnd {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 4rem;

            a{
                margin: 0 1.5rem;
            }

            #instagramContact{
                background: url(../logos/Instagram.svg) no-repeat;
                width: $medium;
                height: $medium;

                #instagramContactHover {
                    opacity: 0;
                    background: url(../logos/InstagramHover.svg) no-repeat;
                    width: $medium;
                    height: $medium;
                }
            }

            #instagramContact:hover {
                #instagramContactHover {
                    opacity: 1;
                }
            }
            
            #twitterContact{
                background: url(../logos/Twitter.svg) no-repeat;
                width: 3rem;
                height: $medium;

                #twitterContactHover {
                    opacity: 0;
                    background: url(../logos/TwitterHover.svg) no-repeat;
                    width: 3rem;
                    height: $medium;
                }
            }

            #twitterContact:hover {
                #twitterContactHover {
                    opacity: 1;
                }
            }
        }

        #mail {
            color: $green;
            font-size: $medium;
        }
    }

//------------------------------------------------FOOTER------------------------------------------------
    footer {
        color: grey;
        font-size: $small;
        text-align: center;
        padding: 3rem;
        
    }
}

@keyframes MoveSides {
    0%, 100% {
      transform: translatex(0);
    }
    50% {
      transform: translatex(-1000px);
    }
}




//------------------------------------------------MEDIA QUERIES------------------------------------------------
//------------------------------------------------MEDIA QUERIES: HEADER------------------------------------------------
@media (max-width: 1025px) {
    body {
        header {
            .menu {
                li {
                    a {
                        margin: 0 0.3rem;
                    }
                }

                #social {
                    a{
                        margin: 0 1.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 769px) {
    body {
        header {
            #logoPsychoPub {
                img {
                    height: 5rem;
                }
            }

            .menu {
                position: fixed;
                transform: translate(-100%);
                transition: transform 0.2s;
                top: 8rem;
                left: 0;
                right: 0;
                bottom: 0;
                background: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 3rem;
                margin-right: 0;

                li {
                    a {
                        margin: auto;
                        padding: 2rem 0;
                    }
                }
                
                #social {
                    margin-top: 17rem;

                    a{
                        margin: 0 1.5rem;
                    }

                    #instagramHeader{
                        width: $medium;
                        height: $medium;

                        #instagramHover {
                            width: $medium;
                            height: $medium;
                        }
                    }
                    
                    #twitterHeader{
                        width: 3rem;
                        height: $medium;

                        #twitterHover {
                            width: 3rem;
                        height: $medium;
                        }
                    }
                }
            }

            .hamburger {
                display: inline;
            }

            .showMenu {
                transform: translate(0);
            }
        }
    }
}

//------------------------------------------------MEDIA QUERIES: INTRO------------------------------------------------
@media (max-width: 1025px) {
    body{
        #intro {
            align-items: center;
            padding-left: 0;
            height: 100vh;

            #welcome {
                width: 60%;
                margin-bottom: 3rem;
            }

            #typeText {
                font-size: $medium;
            }
        }
    }
}

@media (max-width: 769px) {
    body{
        #intro {
            #welcome {
                width: 90%;
            }

            #typeText {
                font-size: $small;
            }
        }
    }
}

//------------------------------------------------MEDIA QUERIES: ABOUT------------------------------------------------
@media (max-width: 1200px) {
    body{
        #about {
            .border {
                .structureAbout {
                    .textAbout {
                        h3 {
                            font-size: $xlarge;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    body{
        #about {
            padding: 10% 3% 0 3%;
            .border {
                .structureAbout {
                    .textAbout {
                        h3 {
                            font-size: $large;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 769px) {
    body{
        #about {
            padding-top: 20%;

            .border {
                padding: 5%;

                #titleAbout {
                    margin-bottom: 2rem;
                }

                .structureAbout {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    margin-bottom: 0;

                    .videos {
                        video{
                            width: 100%;
                        }
                    }

                    .textAbout {
                        text-align: center;
                        
                        p{
                            text-align: justify;
                            width: 100%;
                            margin-bottom: 5rem;
                        }
                    }
                }
            }
        }
    }
}

//------------------------------------------------MEDIA QUERIES: MENU-----------------------------------------------
@media (max-width: 1200px) {
    body {
        #menu {  
            h3 {
                font-size: $xxlarge - 2rem;
            }

            .menuSeries {
                .serie {
                    margin:0 10% 5rem 10%;
            
                    .titlePrice {
                        font-size: $large;
                    }
            
                    .container {
                        .box {
                            img {
                                width: 16rem;
                                height: 16rem;
                            }

                            a {
                                width: 15rem;
                                height: 5rem;
                                top: 5.5rem;
                                left: 0.5rem;
            
                                p{
                                    height: 5rem;
                                    line-height: 4.5rem;
                                }
                            }

                            p{
                                font-size: $small;
                                
                            }
                        }
                    }
                }   
            }
        }
    }
}

@media (max-width: 1025px) {
    body {
        #menu {
            padding-top: 10%;    

            h3 {
                font-size: $xlarge;
            }

            .menuSeries {
                .serie {
                    margin:0 10% 2rem 10%;

                    .container {
                        .box {
                            img {
                                width: 12rem;
                                height: 12rem;
                            }

                            a {
                                width: 12rem;
                                height: 4rem;
                                top: 4rem;
                                left: 0rem;
            
                                p{
                                    font-size: $small - 0.5rem;
                                    height: 4rem;
                                    line-height: 3.5rem;
                                }
                            }

                            p{
                                font-size: $small;
                            }
                        }
                    }
                }   
            }
        }
    }
}

@media (max-width: 769px) {
    body {
        #menu {    
            padding-top: 20%;

            h3 {
                font-size: $large + 0.8rem;
            }

            #subtitleMenu{
                font-size: $small;
                margin: 0 10%;
                margin-bottom: 4rem;
            }

            .menuSeries  {
                .serie {
                    margin:0 10% 1rem 10%;

                    .titlePrice {
                        display: inline;
                        font-size: $large;
                        
                        span {
                            font-size: $medium;
                        }
                    }

                    .container {
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                        margin-top: 3rem;

                        .box {
                            display: inline-block;
                            border: 1px solid grey;
                            margin-bottom: 2rem;

                            img {
                                width: 15.5rem;
                                height: 15.5rem;
                                margin-bottom: 0rem;
                            }

                            a {
                                width: 11rem;
                                height: 4rem;
                                top: 5.75rem;
                                left: 2.25rem;
            
                                p{
                                    font-size: $small - 0.5rem;
                                    height: 4rem;
                                    line-height: 3.5rem;
                                }
                            }

                            p{
                                font-size: $small;
                            }
                        }
                    }
                }   
            }
        }
    }
}

//------------------------------------------------MEDIA QUERIES: CREATOR-----------------------------------------------
@media (max-width: 1200px) {
    body{
        #creator {
            .borderCreator {
                .structureCreator {
                    .textCreator {
                        h3 {
                            font-size: $xlarge;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    body{
        #creator {
            padding: 10% 3% 0 3%;
            .borderCreator {
                .structureCreator {
                    .textCreator {
                        h3 {
                            font-size: $large;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 769px) {
    body{
        #creator {
            padding-top: 20%;

            .borderCreator {
                padding: 5%;

                #titleCreator {
                    margin-bottom: 2rem;
                }

                .structureCreator {
                    display: flex;
                    flex-direction: column-reverse;
                    margin-bottom: 0;

                    .videos {
                        img{
                            width: 100%;
                            margin-bottom: 3rem;
                        }
                    }

                    .textCreator {
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        
                        p{
                            text-align: justify;
                            width: 100%;
                            margin-bottom: 4rem;
                        }

                        #socialGon {
                            margin-bottom: 2rem;

                            a{
                                margin: 0 1.5rem;
                            }
        
                            #instagramGon{
                                width: $medium;
                                height: $medium;
                            }
                            
                            #behanceGon{
                                width: 3.8rem;
                                height: $medium;
                            }

                            #linkedInGon{
                                width: $medium;
                                height: $medium;
                            }
                        }
                    }
                }
            }
        }
    }
}

//------------------------------------------------MEDIA QUERIES: CONTACT-----------------------------------------------
@media (max-width: 1200px) {
    body {
        #contact {  
            h3 {
                font-size: $xxlarge - 2rem;
            }
        }
    }
}

@media (max-width: 1025px) {
    body {
        #contact {
            h3 {
                font-size: $xlarge;
            }

            p {
                width: 50%;
            }

        }
    }
}

@media (max-width: 769px) {
    body {
        #contact {
            padding-top: 20%;

            h3 {
                font-size: $large + 0.8rem;
            }

            p {
                width: 80%;
                text-align: center;
            }
        }
    }
}