@font-face {
  font-family: 'Plus';
  src: url(../fonts/PlusJakartaDisplay-Regular.otf);
}

@font-face {
  font-family: 'Barista';
  src: url(../fonts/Barista.otf);
}

html {
  font-size: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Plus';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  scroll-behavior: smooth;
}

/*Variables*/
body {
  background-color: black;
}

body #loader {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  border: 12px solid #E7FF00;
  border-radius: 50%;
  border-top: 12px solid grey;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  z-index: 100;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body #page {
  display: none;
}

body #page header {
  height: 8rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

body #page header #logoPsychoPub {
  margin-left: 10%;
}

body #page header #logoPsychoPub img {
  height: 6rem;
}

body #page header .menu {
  margin-right: 10%;
}

body #page header .menu li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body #page header .menu li a {
  font-size: 1.7rem;
  color: #E7FF00;
  text-decoration: none;
  margin: 0 1rem;
}

body #page header .menu li a:hover {
  color: #FF00FF;
}

body #page header .menu #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #page header .menu #social a {
  margin: 0 1.5rem;
}

body #page header .menu #social #instagramHeader {
  background: url(../logos/Instagram.svg) no-repeat;
  width: 1.7rem;
  height: 1.7rem;
}

body #page header .menu #social #instagramHeader #instagramHover {
  opacity: 0;
  background: url(../logos/InstagramHover.svg) no-repeat;
  width: 1.7rem;
  height: 1.7rem;
}

body #page header .menu #social #instagramHeader:hover #instagramHover {
  opacity: 1;
}

body #page header .menu #social #twitterHeader {
  background: url(../logos/Twitter.svg) no-repeat;
  width: 1.9rem;
  height: 1.7rem;
}

body #page header .menu #social #twitterHeader #twitterHover {
  opacity: 0;
  background: url(../logos/TwitterHover.svg) no-repeat;
  width: 1.9rem;
  height: 1.7rem;
}

body #page header .menu #social #twitterHeader:hover #twitterHover {
  opacity: 1;
}

body #page header .hamburger {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-right: 10%;
}

body #page header .hamburger i {
  background-color: #E7FF00;
}

body #page header .hamburger .closeIcon {
  display: none;
}

body #page #intro {
  background-image: url(../images/Intro.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10%;
}

body #page #intro #welcome {
  width: 60rem;
  margin-bottom: 4rem;
}

body #page #intro #typeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E7FF00;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 1rem;
}

body #page #intro #typeText #container {
  text-align: center;
  color: #FF00FF;
  margin: 0 0.5rem;
}

body #page #intro #typeText #container #text {
  display: inline-block;
  vertical-align: top;
  font-family: "Plus";
  color: #FF00FF;
}

body #page #about {
  padding: 10rem 3% 0 3%;
}

body #page #about .border {
  border: 0.2rem solid grey;
  padding: 3%;
  opacity: 0;
  -webkit-transform: translateY(14rem);
          transform: translateY(14rem);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

body #page #about .border #titleAbout {
  font-family: "Plus";
  color: grey;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 4rem;
}

body #page #about .border .structureAbout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6rem;
}

body #page #about .border .structureAbout .videos video {
  float: right;
  width: 80%;
}

body #page #about .border .structureAbout .textAbout {
  color: white;
  font-size: 1.7rem;
}

body #page #about .border .structureAbout .textAbout h3 {
  color: #E7FF00;
  font-size: 10rem;
  margin-bottom: 3rem;
}

body #page #about .border .structureAbout .textAbout p {
  text-align: justify;
  width: 80%;
}

body #page #about .border .structureAbout .textAbout p a {
  color: #E7FF00;
  text-decoration: none;
}

body #page #about .borderOn {
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

body #page #menu {
  padding-top: 10rem;
}

body #page #menu #titleMenu {
  overflow: hidden;
}

body #page #menu #titleMenu h2 {
  -webkit-animation: MoveSides 30s linear infinite;
          animation: MoveSides 30s linear infinite;
  color: grey;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 4rem;
}

body #page #menu h3 {
  text-align: center;
  font-family: "Barista";
  font-size: 10rem;
  font-weight: normal;
  color: #E7FF00;
}

body #page #menu #subtitleMenu {
  text-align: center;
  color: white;
  font-size: 1.7rem;
  margin-bottom: 6rem;
}

body #page #menu .menuSeries {
  opacity: 0;
  -webkit-transform: translatex(-14rem);
          transform: translatex(-14rem);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

body #page #menu .menuSeries .serie {
  margin: 0 10% 8rem 10%;
}

body #page #menu .menuSeries .serie .titlePrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #E7FF00;
  font-size: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

body #page #menu .menuSeries .serie .titlePrice h4 {
  font-weight: normal;
}

body #page #menu .menuSeries .serie .titlePrice #eth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #page #menu .menuSeries .serie .titlePrice #eth span {
  color: #FF00FF;
}

body #page #menu .menuSeries .serie .titlePrice #eth img {
  width: 4.5rem;
}

body #page #menu .menuSeries .serie .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #page #menu .menuSeries .serie .container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body #page #menu .menuSeries .serie .container .box img {
  width: 22rem;
  height: 22rem;
  margin-bottom: 1rem;
}

body #page #menu .menuSeries .serie .container .box a {
  position: absolute;
  width: 18rem;
  height: 6rem;
  top: 8rem;
  left: 2rem;
  text-decoration: none;
  border: 2px solid #E7FF00;
  border-radius: 10rem;
  text-align: center;
  opacity: 0;
}

body #page #menu .menuSeries .serie .container .box a p {
  font-size: 1.7rem;
  color: #E7FF00;
  height: 6rem;
  line-height: 5.5rem;
}

body #page #menu .menuSeries .serie .container .box p {
  color: white;
  font-size: 2.4rem;
}

body #page #menu .menuSeries .serie .container .box:hover img {
  opacity: 0.3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body #page #menu .menuSeries .serie .container .box:hover a {
  opacity: 1;
}

body #page #menu .menuSeriesOn {
  opacity: 1;
  -webkit-transform: translatex(0rem);
          transform: translatex(0rem);
}

body #page #creator {
  padding: 10rem 3% 0 3%;
  background-color: black;
  background-position: center;
  background-size: 100% 100%;
}

body #page #creator .borderCreator {
  border: 0.2rem solid grey;
  padding: 3%;
  opacity: 0;
  -webkit-transform: translateY(14rem);
          transform: translateY(14rem);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

body #page #creator .borderCreator #titleCreator {
  font-family: "Plus";
  color: grey;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 4rem;
}

body #page #creator .borderCreator .structureCreator {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
}

body #page #creator .borderCreator .structureCreator .videos img {
  float: left;
  width: 80%;
  border-radius: 100%;
}

body #page #creator .borderCreator .structureCreator .textCreator {
  color: white;
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body #page #creator .borderCreator .structureCreator .textCreator h3 {
  color: #E7FF00;
  font-size: 10rem;
  margin-bottom: 3rem;
}

body #page #creator .borderCreator .structureCreator .textCreator p {
  text-align: justify;
  width: 80%;
  margin-bottom: 4rem;
}

body #page #creator .borderCreator .structureCreator #socialGon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #page #creator .borderCreator .structureCreator #socialGon a {
  margin: 0 1.5rem;
}

body #page #creator .borderCreator .structureCreator #socialGon #instagramGon {
  background: url(../logos/InstagramGon.svg) no-repeat;
  width: 1.7rem;
  height: 1.7rem;
}

body #page #creator .borderCreator .structureCreator #socialGon #behanceGon {
  background: url(../logos/BehanceGon.svg) no-repeat;
  width: 2.6rem;
  height: 1.7rem;
}

body #page #creator .borderCreator .structureCreator #socialGon #linkedInGon {
  background: url(../logos/LinkedInGon.svg) no-repeat;
  width: 1.7rem;
  height: 1.7rem;
}

body #page #creator .borderCreatorOn {
  opacity: 1;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

body #page #contact {
  background-color: #480072;
  text-align: center;
  color: white;
  padding-top: 10rem;
  margin-top: 5rem;
  height: 90vh;
}

body #page #contact #titleContact {
  color: grey;
  font-size: 2.4rem;
  margin-bottom: 7rem;
}

body #page #contact h3 {
  font-family: "Barista";
  font-size: 10rem;
  font-weight: normal;
  color: #E7FF00;
  margin-bottom: 2rem;
}

body #page #contact p {
  font-size: 1.7rem;
  margin-bottom: 6rem;
  width: 40%;
  margin: auto;
  margin-bottom: 4rem;
}

body #page #contact #socialEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

body #page #contact #socialEnd a {
  margin: 0 1.5rem;
}

body #page #contact #socialEnd #instagramContact {
  background: url(../logos/Instagram.svg) no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}

body #page #contact #socialEnd #instagramContact #instagramContactHover {
  opacity: 0;
  background: url(../logos/InstagramHover.svg) no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}

body #page #contact #socialEnd #instagramContact:hover #instagramContactHover {
  opacity: 1;
}

body #page #contact #socialEnd #twitterContact {
  background: url(../logos/Twitter.svg) no-repeat;
  width: 3rem;
  height: 2.4rem;
}

body #page #contact #socialEnd #twitterContact #twitterContactHover {
  opacity: 0;
  background: url(../logos/TwitterHover.svg) no-repeat;
  width: 3rem;
  height: 2.4rem;
}

body #page #contact #socialEnd #twitterContact:hover #twitterContactHover {
  opacity: 1;
}

body #page #contact #mail {
  color: #E7FF00;
  font-size: 2.4rem;
}

body #page footer {
  color: grey;
  font-size: 1.7rem;
  text-align: center;
  padding: 3rem;
}

@-webkit-keyframes MoveSides {
  0%, 100% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  50% {
    -webkit-transform: translatex(-1000px);
            transform: translatex(-1000px);
  }
}

@keyframes MoveSides {
  0%, 100% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  50% {
    -webkit-transform: translatex(-1000px);
            transform: translatex(-1000px);
  }
}

@media (max-width: 1025px) {
  body #page header .menu li a {
    margin: 0 0.3rem;
  }
  body #page header .menu #social a {
    margin: 0 1.2rem;
  }
}

@media (max-width: 769px) {
  body #page header #logoPsychoPub img {
    height: 5rem;
  }
  body #page header .menu {
    position: fixed;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    top: 8rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3rem;
    margin-right: 0;
  }
  body #page header .menu li a {
    margin: auto;
    padding: 2rem 0;
  }
  body #page header .menu #social {
    margin-top: 17rem;
  }
  body #page header .menu #social a {
    margin: 0 1.5rem;
  }
  body #page header .menu #social #instagramHeader {
    width: 2.4rem;
    height: 2.4rem;
  }
  body #page header .menu #social #instagramHeader #instagramHover {
    width: 2.4rem;
    height: 2.4rem;
  }
  body #page header .menu #social #twitterHeader {
    width: 3rem;
    height: 2.4rem;
  }
  body #page header .menu #social #twitterHeader #twitterHover {
    width: 3rem;
    height: 2.4rem;
  }
  body #page header .hamburger {
    display: inline;
  }
  body #page header .showMenu {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 1025px) {
  body #page #intro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    height: 100vh;
  }
  body #page #intro #welcome {
    width: 60%;
    margin-bottom: 3rem;
  }
  body #page #intro #typeText {
    font-size: 2.4rem;
  }
}

@media (max-width: 769px) {
  body #page #intro #welcome {
    width: 90%;
  }
  body #page #intro #typeText {
    font-size: 1.7rem;
  }
}

@media (max-width: 1200px) {
  body #page #about .border .structureAbout .textAbout h3 {
    font-size: 5rem;
  }
}

@media (max-width: 1025px) {
  body #page #about {
    padding: 10% 3% 0 3%;
  }
  body #page #about .border .structureAbout .textAbout h3 {
    font-size: 3rem;
  }
}

@media (max-width: 769px) {
  body #page #about {
    padding-top: 20%;
  }
  body #page #about .border {
    padding: 5%;
  }
  body #page #about .border #titleAbout {
    margin-bottom: 2rem;
  }
  body #page #about .border .structureAbout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  body #page #about .border .structureAbout .videos video {
    width: 100%;
  }
  body #page #about .border .structureAbout .textAbout {
    text-align: center;
  }
  body #page #about .border .structureAbout .textAbout p {
    text-align: justify;
    width: 100%;
    margin-bottom: 5rem;
  }
}

@media (max-width: 1200px) {
  body #page #menu h3 {
    font-size: 8rem;
  }
  body #page #menu .menuSeries .serie {
    margin: 0 10% 5rem 10%;
  }
  body #page #menu .menuSeries .serie .titlePrice {
    font-size: 3rem;
  }
  body #page #menu .menuSeries .serie .titlePrice #eth img {
    width: 3.5rem;
  }
  body #page #menu .menuSeries .serie .container .box img {
    width: 16rem;
    height: 16rem;
  }
  body #page #menu .menuSeries .serie .container .box a {
    width: 15rem;
    height: 5rem;
    top: 5.5rem;
    left: 0.5rem;
  }
  body #page #menu .menuSeries .serie .container .box a p {
    height: 5rem;
    line-height: 4.5rem;
  }
  body #page #menu .menuSeries .serie .container .box p {
    font-size: 1.7rem;
  }
}

@media (max-width: 1025px) {
  body #page #menu {
    padding-top: 10%;
  }
  body #page #menu h3 {
    font-size: 5rem;
  }
  body #page #menu .menuSeries .serie {
    margin: 0 10% 2rem 10%;
  }
  body #page #menu .menuSeries .serie .titlePrice #eth img {
    width: 3rem;
  }
  body #page #menu .menuSeries .serie .container .box img {
    width: 12rem;
    height: 12rem;
  }
  body #page #menu .menuSeries .serie .container .box a {
    width: 12rem;
    height: 4rem;
    top: 4rem;
    left: 0rem;
  }
  body #page #menu .menuSeries .serie .container .box a p {
    font-size: 1.2rem;
    height: 4rem;
    line-height: 3.5rem;
  }
  body #page #menu .menuSeries .serie .container .box p {
    font-size: 1.7rem;
  }
}

@media (max-width: 769px) {
  body #page #menu {
    padding-top: 20%;
  }
  body #page #menu h3 {
    font-size: 3.8rem;
  }
  body #page #menu #subtitleMenu {
    font-size: 1.7rem;
    margin: 0 10%;
    margin-bottom: 4rem;
  }
  body #page #menu .menuSeries .serie {
    margin: 0 10% 1rem 10%;
  }
  body #page #menu .menuSeries .serie .titlePrice {
    display: inline;
    font-size: 3rem;
  }
  body #page #menu .menuSeries .serie .titlePrice span {
    font-size: 2.4rem;
  }
  body #page #menu .menuSeries .serie .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    margin-top: 3rem;
  }
  body #page #menu .menuSeries .serie .container .box {
    display: inline-block;
    border: 1px solid grey;
    margin-bottom: 2rem;
  }
  body #page #menu .menuSeries .serie .container .box img {
    width: 15.5rem;
    height: 15.5rem;
    margin-bottom: 0rem;
  }
  body #page #menu .menuSeries .serie .container .box a {
    width: 11rem;
    height: 4rem;
    top: 5.75rem;
    left: 2.25rem;
  }
  body #page #menu .menuSeries .serie .container .box a p {
    font-size: 1.2rem;
    height: 4rem;
    line-height: 3.5rem;
  }
  body #page #menu .menuSeries .serie .container .box p {
    font-size: 1.7rem;
  }
}

@media (max-width: 1200px) {
  body #page #creator .borderCreator .structureCreator .textCreator h3 {
    font-size: 5rem;
  }
}

@media (max-width: 1025px) {
  body #page #creator {
    padding: 10% 3% 0 3%;
  }
  body #page #creator .borderCreator .structureCreator .textCreator h3 {
    font-size: 3rem;
  }
}

@media (max-width: 769px) {
  body #page #creator {
    padding-top: 20%;
  }
  body #page #creator .borderCreator {
    padding: 5%;
  }
  body #page #creator .borderCreator #titleCreator {
    margin-bottom: 2rem;
  }
  body #page #creator .borderCreator .structureCreator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 0;
  }
  body #page #creator .borderCreator .structureCreator .videos img {
    width: 100%;
    margin-bottom: 3rem;
  }
  body #page #creator .borderCreator .structureCreator .textCreator {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body #page #creator .borderCreator .structureCreator .textCreator p {
    text-align: justify;
    width: 100%;
    margin-bottom: 4rem;
  }
  body #page #creator .borderCreator .structureCreator .textCreator #socialGon {
    margin-bottom: 2rem;
  }
  body #page #creator .borderCreator .structureCreator .textCreator #socialGon a {
    margin: 0 1.5rem;
  }
  body #page #creator .borderCreator .structureCreator .textCreator #socialGon #instagramGon {
    width: 2.4rem;
    height: 2.4rem;
  }
  body #page #creator .borderCreator .structureCreator .textCreator #socialGon #behanceGon {
    width: 3.8rem;
    height: 2.4rem;
  }
  body #page #creator .borderCreator .structureCreator .textCreator #socialGon #linkedInGon {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (max-width: 1200px) {
  body #page #contact h3 {
    font-size: 8rem;
  }
}

@media (max-width: 1025px) {
  body #page #contact h3 {
    font-size: 5rem;
  }
  body #page #contact p {
    width: 50%;
  }
}

@media (max-width: 769px) {
  body #page #contact {
    padding-top: 20%;
  }
  body #page #contact h3 {
    font-size: 3.8rem;
  }
  body #page #contact p {
    width: 80%;
    text-align: center;
  }
}
/*# sourceMappingURL=estilo-index.css.map */